/* Estilos generales */
body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 900px;
    height: 1200px;
    margin: 50px auto; 
    background-color: white;
    font-family: "Avelar Light", sans-serif;
}

header {
    height: 40px;
    background-color: #B58A69;
    color: #BADA55;
    text-align: center;
    font-size: 17px;
}

nav {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-family: "Avelar Light", sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: red;
}

#sesion {
    display: flex;
    background-color: #DEE5DE;
    justify-content: space-between;
    margin: 50px;
    align-items: center;
    text-align: center;
    font-family: "Avelar Light", sans-serif;
}

#sesion-imagen img {
    margin-top: -20px;
    margin-left: 50px;
}


button{
    background-color: #5E5E4A;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

#sesion-texto {
    font-size: 16px;
    max-width: 60%;
    text-align: justify;
}

#sesion-texto h2 {
    font-size: 20px;
    color: #000;
    text-align: justify;
    margin-left: 35px;
    margin-right: 20px;
}

#sesion-texto p {
    text-align: justif;
    background-color: #DEE5DE;
    padding: 20px;
}

aside {
    margin: 50px;
    margin-top: -40px;
    text-align: center;
    font-size: 20px;
    color: #000;
    background-color: #D7D7CB;
    padding: 20px;
}

footer {
    font-size: 14px;
    margin: 50px;
    color: #E8E6E6;
    margin-top: -40px;
    background-color: #5E5E4A;
    text-align: center;
    padding: 10px;
}


#imagenes-flores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imagenes-flores img {
    width: 200px;
    height: 170px; 
    margin: 10px; 
}

@media (max-width: 650px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
}