body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7c1111;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0074cc;
    margin: 0;
    padding: 0;
}

